# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Breakout/gameover-project.wve
Breakout/gameover.mp4
Breakout/gameover.raw
Breakout/gameover.wav
Breakout/gameover2.mp4
Breakout/gameover3.mp4
Breakout/gameover3.wav
Breakout/gameover4.mp4
Breakout/gameover4.wav
Breakout/gameover5.wav
Breakout/taulukko.ods
Breakout/timings.txt
